html {
    overflow: hidden;
}

body {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    overflow: hidden;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    padding: 0 5%;
    height: 100%;
    width: 90%;
    max-width: 78.5em;
}

.co-main, .co-sidebar {
    padding-top: 4em;
}

.co-main-header {
    padding-bottom: 2em;
}

.co-main {
    width: 52%;
    padding-right: 6%;
    float: left;
    display: flex;
    flex-direction: column;
}

.co-main h3 {
    font-size: 1.25em;
    font-weight: 300;
}

.co-sidebar {
    position: relative;
    color: var(--dark-gray);
    padding-left: 10%;
    height: 100%;
    width: 25rem;
}

.co-sidebar::after {
    content: "";
    display: block;
    width: 300%;
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    background: var(--light-gray);
    z-index: -1;
    -webkit-box-shadow: 0 -1px 0 #e1e1e1 inset;
    box-shadow: 0 -1px 0 #e1e1e1 inset;

    left: 0;
    background-position: left top; 
    -webkit-box-shadow: 1px 0 0 #e1e1e1 inset; 
    box-shadow: 1px 0 0 #e1e1e1 inset;
}

.co-sidebar li::after {
    background-color: rgba(175, 175, 175, 0.34);
    bottom: 0px;
}

#ref-check-cart {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header-wrap {
    margin-right: auto; 
    display: flex;
    align-items: flex-end;
}

.co-text {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media screen and (max-width: 576px){
    .wrap {
        padding: 0;
        flex-direction: column;
    }

    .co-main-header {
        padding-top: 20px;
    }

    .co-main, .co-sidebar {
        padding-top: 2rem;
    }

    .logo {
        font-size: 2em;
        padding: 0 !important;
    }

    .content {
        overflow: scroll;
    }

    .co-main {
        width: auto;
        padding-right: 0;
        order: 2;
    }

    .gray-box {
        background-color: var(--light-gray);
        order: 1;
        display: flex;
        justify-content: center;
        margin: -5.5%;
    }

    .co-sidebar {
        width: 90%;
        height: auto;
        padding: 0;
    }

    .co-sidebar::after {
        content: none;
    }
}